@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: #EEEEEE;
}

.header{
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 92px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header p:nth-child(1){
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 2.75rem;
    color: white;
}

.header p:nth-child(2){
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: white;
}


.feed{
    margin-top: 96px;
    margin-left: 20px;
    margin-bottom: 108px;
}

.meal-title{
    padding-top: 27px;
    padding-bottom: 17px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 1.625rem;
    color: #333333;
}

.meal-container{
    display: flex;
    gap: 16px;
    overflow-x: scroll;
}

.meal-individual{
    width: min-content;
    background-color: white;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 18px 14px 13px 14px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.selected{
    border: 5px solid #32B72F;
    box-sizing: border-box;
    position: relative;
}

.icon-not-selected{
    display: none;
}

.icon-selected{
    color: #32B72F;
    font-size: 1.25rem;
    position: absolute;
    right: 13px;
    bottom: 12px;
}

.meal-individual img{
    border-radius: 4px;
    width: 144px;
}




.meal-individual p:nth-child(2){
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
    color: #333333;
}

.meal-individual p:nth-child(3){
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.9375rem;
    line-height: 18px;
    color: #A6A6A6;
}

.meal-individual p:nth-child(4){
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: black;
}

.footer{
    height: 92px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.footer-button{
    background-color: #CBCBCB;
    border-radius: 50px;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
}

.footer-button p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
}